@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Reset Password Application Received";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>
<p class="text-center text-info ">
    Please check your email to reset your password.
</p>
