@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
<div class=" card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Manage Account</h2>

                <h5>Change your account settings</h5>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">

            <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8 mx-3">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
